#root {
  text-align: center;
  min-height: 100vh;
  background-color: #e6a970;
  overflow-y: scroll;
}
.itemContainer {
}
.badgeText {
  margin: 0rem;
}

.homeText {
  margin: 0rem;
}
.answerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.settingInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.question {
  margin: 1rem;
}

.answerButton {
  margin: 0.5rem;
  min-width: fit-content;
  width: 18rem;
  padding: 1rem;
  background-color: #a73a1f;
  border: 1px solid #812610;
  border-width: 0px 2px 5px 0px;
}

.badgeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 0rem;
}
.dummyBadge {
  background-color: #a73a1f;
  height: 7rem;
  width: 7rem;
  margin: 0.5rem;
  border-radius: 50%;
}

.gifcontainer {
  height: 10rem;
  width: 10rem;
  margin: 0rem;
  border-radius: 50%;
}
.logo {
  width: 1rem;
  height: 1rem;
}

.green {
  border-color: #003911;
  background-color: rgb(62, 127, 62);
}

.red {
  border-color: #5b050c !important;
  background-color: rgb(189, 53, 53) !important;
}

.blue {
  border-color: #05145b !important;
  background-color: rgb(32, 88, 192) !important;
}
.period {
  margin-right: 2rem !important;
  color: #a73a1f;
  margin: 2px;
}

.difficulty {
  margin-left: 2rem !important;
  color: #a73a1f;
  margin: 2px;
}

.answerResult {
  color: #a73a1f;
}
.alert {
  color: #dc3d16;
}

.button {
  padding: 0.5rem;
}

.restart {
  width: 2rem;
  padding-top: 0.4rem;
  min-width: min-content;
  height: 2rem;
  min-height: min-content;
  margin: 2px;
  margin-left: 5rem;
}
.score {
  margin-right: 5rem;
}

.choiceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.choiceButton {
  background-color: #a73a1f;
  border-color: #812610;
  border-width: 0px 2px 5px 0px;
  color: antiquewhite;
  margin: 0.5rem;
  min-width: 7rem;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;

  margin-top: 2rem;
  color: #601d0d;
  font-family: "Dinosaur2";
  margin-bottom: 0.5rem;
}

.contentSection {
  max-width: 95vw;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
}
