#root {
  text-align: center;
  min-height: 100vh;
  overflow-y: scroll;
}

.answerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.answerButton {
  margin: 0.5rem;
  min-width: fit-content;
  width: 18rem;
  padding: 1rem;
  background-color: #a73a1f;
}

.logo {
  width: 1rem;
  height: 1rem;
}

.green {
  border: 5px solid #1b890d;
}

.red {
  border: 5px solid #e7380c;
}

.blue {
  border: 5px solid rgb(0, 0, 0);
}
.alert {
  color: #dc3d16;
}

.button {
  padding: 0.5rem;
}

.choiceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.choiceButton {
  background-color: #a73a1f;
  color: antiquewhite;
  margin: 0.5rem;
  min-width: 7rem;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;

  margin-top: 2rem;
  color: #601d0d;
  font-family: "Dinosaur2";
  margin-bottom: 0.5rem;
}

.contentSection {
  max-width: 95vw;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
}
