#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.answerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answerButton {
  margin: 0.5rem;
  width: 80%;
  padding: 1rem;
  background-color: #a73a1f;
}

.nextButton {
  background-color: #002fa7;
}

.logo {
  width: 1rem;
  height: 1rem;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1rem;
}

.green {
  /* background-color: green; */
  /* border: 5px solid rgb(180, 255, 136); */
  border: 5px solid #1b890d;
}

.red {
  border: 5px solid #e7380c;
}
.black {
  background-color: black;
}
.blue {
  border: 5px solid rgb(0, 0, 0);
}
.alert {
  color: #dc3d16;
}

.button {
  padding: 0.5rem;
}

.choiceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.choiceButton {
  background-color: #a73a1f;
  color: antiquewhite;
  margin: 0.5rem;
  width: 70%;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .h1 {
    font-size: 0.5rem;
  }
}
